header.smaller {
	position: sticky;
	top: 0vh;
	z-index: 1;
	width: 100vw;
	height: 120px !important;
	margin-bottom: 400px;
}

header.smaller #logo {
	width: 110px;
	height: 105px;
	position: fixed;
	left: 5px;
	top: 5px;
}

header.smaller #subtitle {
	font-size: 20px;
	position: fixed;
	left: 130px;
	top: 62px;
}

header.smaller #spacer {
	padding: 0px;
}

#spacer {
	padding: 50px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	height: 300px;
	padding-bottom: 10px;
	transition: ease-in-out;
}
